* {
    box-sizing: border-box
}

body {
    font-family: arial;
    margin: 0;
    background: whitesmoke
}

nav {
    background: #ff5353;
    padding: 20px 10px;
}

nav ul {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px 0 0;
}

nav a {
    color: #fff;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    padding: 10px;
    display: block;
}

.btmButton {
    position: relative;
    bottom: -50px;
    font-size: 1rem;

}

.topButton {}

main,
header {
    max-width: 1080px;
    margin: 30px auto;
    padding: 0 10px;
    color: #333;
}

#formDiv {
    background: white;
    position: relative;
    top: 120px;
    height: 175px;
}

#submit {
    background: #f35555;
    color: white;
    position: relative;
    top: -20px;
    width: 200px;
}

#dynamicTable {
    position: relative;
    top: 140px
}

#longURL {
    position: relative;
    top: -25px
}



.coloredBtn {
    background: #f35555;
    color: white;
}

.noColorBtn {
    background: white;
    color: darkblue
}

table {
    /* border-collapse: collapse; */
    width: 100%;

    border-radius: 30px
}

a {
    color: inherit
}

.tinyFont {
    font-size: 12px;
}

.signInContainer {
    width: 400px;
    margin: auto;
    background: white;
    border: 1.5px solid grey;
    border-radius: 5px;
    position: relative;
    top: 90px;
    height: 450px
}

.signUpContainer {
    width: 400px;
    margin: auto;
    background: white;
    border: 1.5px solid grey;
    border-radius: 5px;
    position: relative;
    top: 110px;
    height: 550px
}

th,
td {
    border: .25px solid black;
    border-radius: 5px;
    padding: 15px;

}

/* .tableContainer {
    table-layout: fixed;
    background: white;
    width: 100%;
    height: 100%;
    word-break: break-word;
} */