<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>

  <body>
    <nav>
      <ul>
        <li><a href="/auth/logout"></a>Logout</li>
        <li><a href="/auth/login"></a>Login</li>
        <li><a href="/"></a>Homepage</li>
      </ul>
    </nav>
    <header>
      <h1>Login using...</h1>
    </header>
    <main>
      <a class="google-btn" href="/auth/google"></a>
    </main>
  </body>
</html>
